body {
margin: 2;
font-family: Arial, Helvetica, sans-serif;
}

img {
    width: 300px;
}
.box {
    display: flex;
    justify-content: space-around;
    /* flex-wrap: wrap; */
}
a:visited{
    color: red;
}

a:link{
    color: palevioletred;
}

.block-demo{
    border: 2px solid green;
}